<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">
            <div class="product-image">
                <img :src="image" />
            </div>

            <div class="product-info">
                <h1>{{ product }}</h1>
                <p>{{ description }}</p>
                <a :href="link" target="_blank">More products like this</a>

                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
                <p v-else>Out of Stock</p>
                <span v-show="onSale">On Sale!</span>

                <h3>Details</h3>
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <h3>Sizes</h3>
                <ul>
                    <li v-for="size in sizes">{{ size }}</li>
                </ul>

                <h3>Variants</h3>
                <div v-for="variant in variants" :key="variant.variantId">
                    <p>{{ variant.variantColor }}</p>
                </div>

                <button v-on:click="addToCart">Add to cart</button>

                <div class="cart">
                    <p>Cart ({{ cart }})</p>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js" charset="utf-8"></script>
</body>

</html>